################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/Diana_Sashko/config
/.vs/Diana_Sashko/v16
/.vs
/*.log
/lessons/lesson2/index.html
